.my-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.header-1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Update to align text to the left */
  gap: 20px;
  text-align: center;
}

.paragraph {
  width: 100%;
  text-align: start;
}

.table {
  table-layout: auto;
  width: max-content;
}

.border-frame {
  border: 1px solid green;
}

.border-frame td,
.border-frame th {
  border: 1px solid green;
}
