.border-frame {
    border: 1px solid green;
}

.border-frame td,
.border-frame th {
    border: 1px solid green;
}

.my-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.header-1 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}
